@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: lightcoral;
}

.contenedor {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 40px;
    color: lightgray;
    text-align: center;
}

